* {
  margin: 0;
  padding: 0;
}
body{
	padding: 0px !important;
}
html {
   overflow-x: hidden;
    padding: 0;
}
button:focus , input:focus , textarea:focus , select:focus{
  box-shadow: none !important;
  border: 1px solid #1d7a8c !important;
  outline: #1d7a8c !important;
}
.nav_right_icon{
    display: none !important;
}
.main_image img {
  height: auto;
  width: 100vw;
}
.warning-alert{
	display: none;
}
.contact_heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #4f4f4f;
  margin-top: 30px;
}
.contact_heading h1 {
  font-size: 36px;
}
.contact_box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.left_line,
.right_line {
  width: 62px;
  height: 1px;
  background-color: #cccccc;
  margin: 0px 8px;
}
.contact_logos {
  margin-top: 50px;
  color: #4f4f4f;
}
.logos_inner {
  width: 195px;
  min-height: 106px;
  margin: 0 4.5vw;
}
.logos_content {
  margin-top: 20px;
}
.logos_logo {
  min-height: 54px;
}

hr {
  margin: 75px auto !important;
  width: 75vw;
  align-self: center;
}
form {
  min-width: fit-content;
}

.touch_form .col {
  max-width: 300px;
  min-height: 46px;
  margin: 7px;
  padding: 0;
}
.form_areacode {
  max-width: 57px;
  background-color: #c8c8c8;
}
.form_in::placeholder,
.placeholder {
  color: #a0a0a0;
}
.form_in {
  border: solid 1px #c8c8c8;
  padding-left: 16px;
}
.touch_form .textarea,
.touch_form .form_select {
  min-width: 614px;
  padding: 0;
  min-height: 46px;
  margin: 7px 0px;
}
.form_select select {
  min-height: 46px;
  padding: 0 16px !important;
  color: #a0a0a0;
}
.touch_form .textarea textarea {
  min-height: 146px;
  padding-left: 16px !important;
  padding-top: 10px !important;
}
.submit_btn {
  min-width: 163px;
  min-height: 46px;
  background-color: #1d7a8c !important;
  border: none !important;
  font-size: 20px;
}
.form_heading {
  font-size: 28px;
  color: #4f4f4f;
  margin-bottom: 20px;
}
.map_marker {
  position: absolute !important;
  top: 12vw;
  left: 45vw;
  z-index: 11;
}
.container_map {
  margin-top: 80px;
}
#logInModal .modal-content{
    padding: 20px;
    padding-top: 0;
    color: #646464;
}
.modalInputEmail{
    padding: 5px 40px 5px 15px;
    width: 100%;
}
.inputHeightBorder{
    height: 46px;
    border: 1px solid #e1e1e1;
}

.logInModal .form-group img{
    position: absolute;
    left: auto;
    right: 10px;
    top: 10px;
}
.submitButton{
    padding: 15px 30px !important;
    background-color: #1d7a8c !important;
}
.forgotPasswordRedirect{
    color: #1d7a8c;
    text-decoration: none;
}


@media (max-width: 768px) {

  .logos_inner {
    margin: 0 1vw;
  }
}

@media (max-width: 644px) {
  .touch_form {
    max-width: 90vw;
  }
  .touch_form form {
    max-width: 90vw;
    align-items: center;
  }
  .textarea,
  .form_select {
    min-width: 90vw !important;
  }
  .touch_form .row {
    max-width: 100%;
    min-width: 100%;
  }
  .touch_form .row .col:first-child {
    margin-left: 0;
  }
  .touch_form .row .col:nth-child(2) {
    margin-right: 0;
  }
  .form_areacode {
    max-width: 40px;
  }
  .form_in {
    padding-left: 7px !important;
  }
  .contact_logos {
    flex-direction: column;
  }
  hr {
    margin: 30px !important;
  }
  .logos_inner {
    margin-bottom: 40px;
  }
}

.nav_select4{
    border: 1px solid #FFFFFF80;
}