.minheight46{
    min-height: 46px !important;
}
.borderlight{
    border: 1px solid #e1e1e1 !important;
}
.paddinginside{
    padding: 10px ;
}
.dash_contents{
    padding: 0px 20px;
}
.tab-content{
    padding: 20px;
}
label{
   font-size: 16px;
   /* font-weight: 700; */
   color: #646464 !important; 
   margin-bottom: 5px;
}
button:focus , input:focus , textarea:focus , select:focus{
    box-shadow: none !important;
    border: 1px solid #1d7a8c !important;
    outline: #1d7a8c !important;
}
input{
    color: #646464;
}
tbody{
    border-top: none !important;
}
#myAddressesTable th ,#myAddressesTable td{
    padding: 10px 20px;
}
.nav-item{
    border: none !important;
    margin: 0;
}
.nav-tabs .nav-link{
    border: none !important;
    border-bottom: 4px solid #e1e1e1 !important;
    margin: 0 !important;
    color: #646464 !important;
    font-weight: 700;
}
.nav-tabs .active{
    border-bottom-color: #1d7a8c !important;
}

.account-status{
    font-size: 20px;
    color: #646464 !important;
}
.account-status span{
    color: #67b644 !important;
}
.itemAvatar{
    float: left !important;
    height: 91px !important;
    width: 91px !important;
    flex: none !important;
    padding: 0 !important;
    margin: 0 10px !important;
    border: 3px solid #e1e1e1 !important;
    transition: none !important;
}
.avatar{
    vertical-align: middle !important;
}
.btn-check:active+.btn-outline-primary:focus, .btn-check:checked+.btn-outline-primary:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus, .btn-outline-primary:active:focus{
	box-shadow: none !important;
}
.btn-check:checked+.btn-outline-primary{
    background-color: #1d7a8c !important;
    border-color: #1d7a8c !important;
    transition: none !important;
    box-shadow: none !important;
}
.itemAvatar:hover{
    border-color: #1d7a8c !important;
}
.label-main{
    font-size: 18px !important;
}
.save_button{
    background-color: #1d7a8c !important;
    padding: 5px 15px !important;
    width: fit-content !important;
    /* max-width: 50px !important; */
}
@media (max-width: 768px){
    
   
    .dash_contents{
        padding: 0px 5px;
        width: 95vw !important;
    }
    .tab-content{
        padding: 20px 0px;
        width: fit-content;
    }
    select{
        margin: 0 0px !important;
    }
    .custDash_main{
        margin: 0px !important;
        padding: 5px;
    }
}