.navbar {
	background-color: #525252;
	font-size: 17px;
	padding: 4px 0px !important;
	animation: none !important;
	z-index: 100;
}

.navbar_main {
	padding: 0 15px !important;
}

.navbar_wrapper {
	width: 100%;
}

.nav-link {
	padding: 7px 18px !important;
	margin: 0 5px;
}

.nav-item {
	margin: 0px 4px;
}

.nav-item:hover {
	border: 1px solid #ffffff80 !important;
}

.nav_icons1, .nav_icons2 {
	border-left: 1px solid #e1e1e1;
	margin: 0;
	padding-left: 20px;
	margin-right: 20px;
}

.navbar-toggler {
	box-shadow: none !important;
}

.navcol_third {
	display: flex;
}

.navcol_first, .navcol_second, .navcol_fourth {
	display: none;
}

.navcol .nav-item a, .navcol p {
	color: #fff;
}

.navcol p {
	font-size: 14px;
}

.navcol .nav-item a {
	font-size: 16px;
}

@media ( max-width : 990px) {
	.nav-item {
		width: fit-content;
		border: none !important;
	}
	.nav-item:hover {
		border: none !important;
		color: #1d7a8c !important;
	}
	
	.navcol {
		width: 100%;
		border-bottom: 1px solid rgb(44, 44, 44);
		padding: 10px 0;
	}
	.navcol_third {
		display: block;
	}
	.navcol_fourth {
		display: flex !important;
	}
	.navcol .nav-item a, .navcol p {
		color: #646464;
	} 
	.navcol .nav-item a:hover {
		color: #1d7a8c !important;
	}
	.navcol_first, .navcol_second, .navcol_fourth {
		display: block;
	}
	.nav_icons2 {
		display: none;
	}
	.nav_icons1 {
		border-right: 1px solid #e1e1e1;
		padding: 0px 10px;
	}
	.navbar_wrapper {
		width: fit-content;
	}
	.sidebarMain {
		max-width: 272px !important;
	}
}