
/* GENERAL STYLES */

.pagination{
  padding: 30px 0;
}

.pagination ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination ul li{
  display: inline-block;
  
}
.pagination ul li a , .pagination ul li span{
	padding: 10px 15px;
  	color: #222;
  	text-decoration: none;
}

/* TWELVE */

.p12 a , .p12 span{
  	border: 1px solid grey;
  	color: #fff;
  	font-weight: bold;
}
.p12 .is-active{
  color: #fff;
  background-color: #1d7a8c;
}

@media (max-width:768px){
	
	.pg-768{
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	
}