*{
    margin: 0;
    padding: 0;
}

.reset_heading{
    font-size: 36px;
    font-weight: 500;
    color: #4f4f4f;
}

button:focus , input:focus , textarea:focus , select:focus{
    box-shadow: none !important;
    border: 1px solid #1d7a8c !important;
    outline: #1d7a8c !important;
}

.modalInputEmail{
    padding: 5px 40px 5px 15px;
    width: 100%;
}

.inputHeightBorder{
    height: 46px;
    border: 1px solid #e1e1e1;
}

.submitButton{
    padding: 15px 30px !important;
    background-color: #1d7a8c !important;
}

.main-div{
	width: fit-content;
}